{% extends 'betajob/basic.html' %}
{% load static %}
{% block body %}
<div class="container">
<h1 class="fw-bold text-center ff">About Us</h1>
<section>
    <h2 class="ff mb-3">Who We Are</h2>
    <p class="f fw-bold">Welcome to BetaJob, the ultimate destination for finding your dream job. We are here to empower job seekers like you and connect you with amazing career opportunities. <br><br>
    Our mission is to make the job search process simple, efficient, and enjoyable. We understand that searching for a job can be overwhelming, so we've built a platform that provides comprehensive job listings and advanced search features. <br><br>
    With BetaJob, you can explore a wide range of industries, locations, and job types. Whether you're a fresh graduate, a seasoned professional, or looking for a career change, we've got you covered. Our platform is designed to cater to your unique needs and help you take the next step in your career.
</section>

<section>
    <h2 class="ff mb-3">Our Values</h2>
    <ul class="f fw-bold">
        <li>Empowerment: We believe in empowering individuals by providing access to job opportunities and resources that enable career growth.</li>
        <li>Inclusivity: We are committed to fostering an inclusive environment where everyone has equal access to opportunities, regardless of their background or circumstances.</li>
        <li>Quality: We strive for excellence in everything we do, ensuring that our job listings are accurate, up-to-date, and relevant to our users.</li>
        <li>User-Centric: Our users are at the heart of everything we do. We continuously listen to their feedback and improve our platform to meet their needs.</li>
        <li>Privacy & Security: We prioritize the privacy and security of our users' personal information. We implement robust measures to protect their data and ensure a safe browsing experience.</li>
    </ul>
</section>
</div>
{% endblock %}