{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link type="text/css" href="{% static 'betajob/style.css' %}" rel="stylesheet">
    <link type="image/x-icon" href="{% static 'betajob/logo.png' %}">
    <title>BetaJob | Find or Post Jobs!</title>
</head>
<body>
    <div> 
        <nav class="navbar navbar-expand-lg bg-body">
            <div class="container">
                <a class="navbar-brand" href="/"><img id="logo" src="{% static 'betajob/logo.png' %}" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item f">
                            <a class="nav-link active fw-bold" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item f fw-bold dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Jobs</a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="/jobs">Find</a></li>
                                <li><a class="dropdown-item" href="/post-jobs">Post</a></li>
                                {% else %}
                                <li><a class="dropdown-item" data-bs-toggle="modal"  data-bs-target="#lmodal">Find</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal"  data-bs-target="#lmodal">Post</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item f fw-bold">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        {% else %}
                        <li class="nav-item f fw-bold">
                            <a class="nav-link" data-bs-toggle="modal"  data-bs-target="#lmodal">Dashboard</a>
                        </li>
                        {% endif %}
                        <li class="nav-item f fw-bold">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item f fw-bold">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        <a href="/logout" class="a"><button type="button" class="btn a btn-dark d-flex ms-auto fw-bold f">Log Out</button></a>
                    {% else %}
                        <button type="button" class="btn btn-dark d-flex ms-auto fw-bold f" data-bs-toggle="modal"  data-bs-target="#lmodal">Sign In</button>
                    {% endif %}
                    <!-- <form class="d-flex ms-auto" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form> -->
                </div>
            </div>
        </nav>
    </div>
    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body
