{% extends 'betajob/basic.html' %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center">
        <nav class="navbar bg-body">
            <div class="container-fluid">
                <form action="/search/" method="get" class="d-flex" role="search">
                    <input class="form-control me-2" style="width: 50vw;" type="search" name="query" placeholder="Search designations, companies or skills!" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <h3 class="f mb-3 mt-3">Search Results:</h3>
    {% for job in jobs %}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title f fw-bold">{{ job.designation }}</h4>
            <h6 class="card-title f fw-bold mb-3">{{ job.company }}</h6>
            <p class="card-text f">{{ job.summary }}</p>
            <strong class="card-text f">Skills required: {{ job.skills }}</strong><br>
        </div>
    </div>
    {% empty %}
    <h6 class="f">No matching jobs found.</h6>
    {% endfor %}
</div>
{% endblock %}