@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.ff{
    font-family: 'Playfair Display', serif;
}

.a{
    text-decoration: none !important;
}

.f{
    font-family: 'Raleway', sans-serif;
}

.nav-item{
    margin-left: 2.5em !important; 
}
.navbar{
    height: 6em;
}
#logo{
    height: 3em;
    width: 3em;
}

.b{
    height: 3em;
    width: 10em;
    margin-right: 2em;
}

@media (max-width: 767px) {
    #homeimg {
        display: none;
    }
}